html
    head
        title= title
    body
        hi= message
        div(class='reported-rocks' style='display: flex; box-sizing: border-box; padding: 3rem 1rem 3rem 3rem; width: 100%; justify-content: start; flex-wrap: wrap;')
            each rock in rocks
                div(class='reported-rock' key=rock._id style='width: calc( 33% - 2rem); max-width: 400px; margin-right: 2rem;')
                    img(src=rock.canvasImgData style='width: 100%')
                    div #{rock.numOfReports}
                    form(method='POST', action=`/rocks/delete/${rock._id}`)
                        button(type='submit').
                            delete painting
                    form(method='POST', action=`/rocks/unreport/${rock._id}`)
                        button(type='submit').
                            remove report
        style.
            @media screen and (max-width: 700px){
            .reported-rock{
            width: calc( 50% - 2rem) !important;
            }
            }